@model BasketComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}

<a class="esh-election" asp-page="/Basket/Index">
    <div class="esh-election-image">
        <img src="~/images/cart.png" />
    </div>
    <div class="esh-election-badge">
        @Model.ItemsCount
    </div>
</a>
