@model CatalogItemViewModel

@{
    var tm = "#delModal" + Model.Id;
    var mid = "delModal" + Model.Id;
}
<form asp-page="/Admin" method="post">
    <div>
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.PictureUri" name="imageUri" />

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@tm">
                    Delete
                </button>

                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete this item?
                            </div>
                            <div class="modal-footer">
                                <button class="btn esh-basket-checkout2" name="updatebutton" value="" type="submit" asp-page-handler="Delete">[ Delete ]</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</form>