@model SampleItemViewModel

<div class="@Model.ListClass">
	@foreach (var catalogItem in Model.Items)
	{
		<div class="@Model.ListItemClass">
			@* <partial name="DisplayItems/_product" for="@catalogItem" /> *@
			@Model.Template(catalogItem)
		</div>
	}
</div>